/* Helps to create a higher contrast for accessibility  */
::selection {
  color: $c-white;
  background-color: $c-black;
}

body {
  font-size: 100%;
  // font-size: calc(1em + 1vw); <- nicer, but poor support
}

h1 {
  @include font-size(36);
}

h2 {
  @include font-size(24);
}

h3 {
  @include font-size(18);
}

h4 {
  @include font-size(14);
}

h5 {
  @include font-size(12);
}

p, ol, ul, table {
  @include font-size(12);
}

a {
  color: $color-action;

  &:hover {
    
  }
  
}

table {
  
}

td, th {
  
}

th {
  
}

td {
  
}
