/* 

  Flexbox Grid:
  
  <div class="flex-grid-contain">
    <div class="flex-grid">
      <div>A column</div> 
      <div>A column</div> 
    </div><!--/.flex-grid-->
  </div><!--/.flex-grid-contain-->
  
  Modified from: https://github.com/Heydon/fukol-grids

*/

.grid {
  display: flex;
  flex-flow: row wrap;
  margin: -0.5em;
  
  &-contain {
    overflow: hidden;
  }
  
  > * {
    flex-basis: 10em;
    flex-grow: 1;
    margin: 0.5em;
    background: red;
    min-height: 100px;
  }
  
}

/*
  
  Responsive Grid:
  
  <div class="Row-10 Cf">
    <div class="Fl-start W-sm-100 W-md-33 P-10"> Column </div>
    <div class="Fl-start W-sm-100 W-md-66 W-lg-33 P-10"> Column </div>
    <div class="Fl-start W-sm-100 W-lg-33 P-10"> Column </div>
  </div><!--/.Row-10.Cf-->
  
*/

.W-sm-8 {
  width: 8.333333%;
}

.W-sm-10 {
  width: 10%;
}

.W-sm-16 {
  width: 16.666666%;
}

.W-sm-20 {
  width: 20%;
}

.W-sm-25 {
  width: 25%;
}

.W-sm-30 {
  width: 30%;
}

.W-sm-33 {
  width: 33%;
}

.W-sm-40 {
  width: 40%;
}

.W-sm-41 {
  width: 41.666666%;
}

.W-sm-50 {
  width: 50%;
}

.W-sm-58 {
  width: 58.333333%;
}

.W-sm-60 {
  width: 60%;
}

.W-sm-66 {
  width: 66.666666%;
}

.W-sm-70 {
  width: 70%;
}

.W-sm-75 {
  width: 75%;
}

.W-sm-80 {
  width: 80%;
}

.W-sm-83 {
  width: 83.333333%;
}

.W-sm-90 {
  width: 90%;
}

.W-sm-91 {
  width: 91.666666%;
}

.W-sm-100 {
  width: 100%;
}

@media screen and ( min-width: 600px ) {
  
  .W-md-8 {
    width: 8.333333%;
  }
  
  .W-md-10 {
    width: 10%;
  }
  
  .W-md-16 {
    width: 16.666666%;
  }
  
  .W-md-20 {
    width: 20%;
  }
  
  .W-md-25 {
    width: 25%;
  }
  
  .W-md-30 {
    width: 30%;
  }
  
  .W-md-33 {
    width: 33%;
  }
  
  .W-md-40 {
    width: 40%;
  }
  
  .W-md-41 {
    width: 41.666666%;
  }
  
  .W-md-50 {
    width: 50%;
  }
  
  .W-md-58 {
    width: 58.333333%;
  }
  
  .W-md-60 {
    width: 60%;
  }
  
  .W-md-66 {
    width: 66.666666%;
  }
  
  .W-md-70 {
    width: 70%;
  }
  
  .W-md-75 {
    width: 75%;
  }
  
  .W-md-80 {
    width: 80%;
  }
  
  .W-md-83 {
    width: 83.333333%;
  }
  
  .W-md-90 {
    width: 90%;
  }
  
  .W-md-91 {
    width: 91.666666%;
  }
  
  .W-md-100 {
    width: 100%;
  }
  
}

@media screen and ( min-width: 800px ) {
  
  .W-lg-8 {
    width: 8.333333%;
  }
  
  .W-lg-10 {
    width: 10%;
  }
  
  .W-lg-16 {
    width: 16.666666%;
  }
  
  .W-lg-20 {
    width: 20%;
  }
  
  .W-lg-25 {
    width: 25%;
  }
  
  .W-lg-30 {
    width: 30%;
  }
  
  .W-lg-33 {
    width: 33%;
  }
  
  .W-lg-40 {
    width: 40%;
  }
  
  .W-lg-41 {
    width: 41.666666%;
  }
  
  .W-lg-50 {
    width: 50%;
  }
  
  .W-lg-58 {
    width: 58.333333%;
  }
  
  .W-lg-60 {
    width: 60%;
  }
  
  .W-lg-66 {
    width: 66.666666%;
  }
  
  .W-lg-70 {
    width: 70%;
  }
  
  .W-lg-75 {
    width: 75%;
  }
  
  .W-lg-80 {
    width: 80%;
  }
  
  .W-lg-83 {
    width: 83.333333%;
  }
  
  .W-lg-90 {
    width: 90%;
  }
  
  .W-lg-91 {
    width: 91.666666%;
  }
  
  .W-lg-100 {
    width: 100%;
  }
  
}
