body {
  transition: all linear 2s;
  transform: translate(90deg);
  border-radius: 40px;
  box-shadow: none;
}

@import 'config/_master';
@import 'base/_master';
@import 'layout/_master';
@import 'modules/_master';
@import 'vendor/_master';