// Move element off screen
@mixin move-off-screen () {
  position: absolute;
  top: -999em;
  left: -999em;
}

@mixin visually-hidden () {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

// Move text off screen
@mixin replace-text () {
  text-indent: -9999px;
  overflow: hidden;
}

@mixin clearfix () {
  &:after {
    content:" ";
    display: block;
    clear: both;
  }
}

// font size to REM
@mixin font-size ($size: 14, $parentSize: 16) {
  font-size: $size + 0px;
  font-size: 0rem + $size/$parentSize;
}