// fonts

$font-primary: Sans-serif;

// colors
$color-base: #fff;
$color-primary: #000;

$color-action: blue;

// breakpoints
$bp-tiny: 25em !default; // 400px
$bp-small: 40.625em !default; // 650px
$bp-medium: 53.125em !default; // 850px
$bp-large: 62.5em !default; // 1000px

// namespace
$ns : '' !default;

/*
 USAGE
 $ns: 'derp-';
 #{$ns}btn {  } // .derp-btn {  }

*/
