// fonts

$font-primary: Sans-serif;

//colors
$color-base: #fff;
$color-primary: #000;

$color-action: blue;

// breakpoints
$breakpoint-wide: 1000px;
$breakpoint-large: 900px;
$breakpoint-mid: 800px;
$breakpoint-small: 600px;
$breakpoint-tiny: 400px;